:root {
    --color-purple: #662e9b;
    --color-bg: #191b24;
    --color-green: #50fa7b;
    --color-orange: #fd951f;
}

#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper h1 {
    font-size: 62px;
    line-height: 72px;
    font-weight: bold;
    margin-bottom: 40px;
}

#wrapper h1 a {
    color: white;
    text-decoration: none;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
}

.card {
    background: rgba(0, 0, 0, 0.103);
    border: 3px solid var(--color-purple);
    border-radius: 8%;
}

.card:hover {
    cursor: pointer;
}

.card__image-container img {
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
    height: 150px;
}
.card__info {
    padding: 24px;
}

.card__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card__price {
    filter: brightness(90%);
    padding: 5px 20px;
    border: 1px solid var(--color-orange);
    border-radius: 20px;
    text-align: center;
}

.card__price:hover {
    background: var(--color-orange);
    color: var(--color-purple);
    font-weight: bold;
}

.card__number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card__number p {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 3px solid #000;
    text-align: center;
    font: 26px 'Roboto', sans-serif;

}

p.purple {
    color: #7159c1;
    border: 3px solid #7159c1;
}

p.orange {
    color: var(--color-orange);
    border: 3px solid var(--color-orange);
}

p.green {
    color: #04d361;
    border: 3px solid #04d361;
}

.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 14px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize-modal {
    color: black;
    position: absolute;
    right: 68px;
    top: 8px;
    cursor: pointer;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.maximize {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

